/**
 * Base styles
 */

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100vh;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: $text-dark;
  background-color: $white;
  @include font-size(16);
  line-height: 1;

  /**
   * Set after content to use for easily checking
   * mobile or desktop state. Hidden from view and
   * screen readers because it's purely for javascript.
   * Check app.js for more info
   */
  &::after {
    content: 'desktop';
    display: none;

    @include screen-nav-mobile {
      content: 'mobile';
    }
  }
}

::selection {
  text-shadow: none;
  color: $selection;
  background: $selection-bg;
}

::-moz-selection {
  text-shadow: none;
  color: $selection;
  background: $selection-bg;
}

a {
  color: $link-color;
  transition: all 0.10s ease-in-out;
  &:hover {
    color: $link-hover-color;
  }
}

address {
  font-style: normal;
}

blockquote {
  position: relative;
  margin-left: 4rem;
  margin-right: 4rem;
  font-size: 1.5rem;
  font-weight: $text-medium;
  p {
    margin: auto;
    font-weight: inherit;
    font-size: inherit;
  }
  &:before {
    position: absolute;
    content: "“";
    font-size: 6.875rem;
    margin-left: -4rem;
    top: calc(50% - 1.5rem);
    height: 3rem;
  }
}

button {
  transition: all 0.10s ease-in-out;
}

code {
  white-space: normal;
}

form {
  flex: 0 0 auto;
  max-width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-self: flex-start;
  @include screen-lg-up {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

img, svg.logo {
  display: block;
  max-width: 100%;
  height: auto;
}

input:not([type="button"]):not([type="image"]):not([type="submit"]) {
  display: inline-block;
  width: 100%;
  padding: 1rem 1rem 0.875rem 1rem;
  border: solid 2px $black;
  font-size: 0.75rem;
  @include screen-lg-up {
    &:hover {
      cursor: pointer;
      @include input_effects;
    }
  }
  &:focus {
    @include input_effects;
  }
  &[type="file"]{
    position: relative;
    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $white;
    }
    &:after {
      content: 'Browse';
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 1rem 3rem;
      font-size: 1rem;
      color: $white;
      white-space: nowrap;
      background-color: $black;
    }
  }
}

main {
  background-color: $black;
}

label {
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

ol {
  list-style-type: upper-roman;
}

p {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

table {
  width: 100%;
  a {
    color: #762123;
  }
  th {
    font-size: 1rem;
    font-weight: $text-normal;
  }
  td, th {
    text-align: center;
    border-bottom: solid 1px $black;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &:first-of-type {
      text-align: left;
    }
    &:last-of-type {
      text-align: right;
    }
  }
}

[data-background] {
  background-position: center;
  background-size: cover;
}