/**
 * Typography
 */
@font-face {
    font-family: 'SuisseIntl';
    src: url('../fonts/SuisseIntl-Medium.eot');
    src: url('../fonts/SuisseIntl-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntl-Medium.woff2') format('woff2'),
        url('../fonts/SuisseIntl-Medium.woff') format('woff'),
        url('../fonts/SuisseIntl-Medium.ttf') format('truetype'),
        url('../fonts/SuisseIntl-Medium.svg#SuisseIntl-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl';
    src: url('../fonts/SuisseIntl-Regular.eot');
    src: url('../fonts/SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntl-Regular.woff2') format('woff2'),
        url('../fonts/SuisseIntl-Regular.woff') format('woff'),
        url('../fonts/SuisseIntl-Regular.ttf') format('truetype'),
        url('../fonts/SuisseIntl-Regular.svg#SuisseIntl-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl';
    src: url('../fonts/SuisseIntl-SemiBold.eot');
    src: url('../fonts/SuisseIntl-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntl-SemiBold.woff2') format('woff2'),
        url('../fonts/SuisseIntl-SemiBold.woff') format('woff'),
        url('../fonts/SuisseIntl-SemiBold.ttf') format('truetype'),
        url('../fonts/SuisseIntl-SemiBold.svg#SuisseIntl-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl';
    src: url('../fonts/SuisseIntl-Bold.eot');
    src: url('../fonts/SuisseIntl-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntl-Bold.woff2') format('woff2'),
        url('../fonts/SuisseIntl-Bold.woff') format('woff'),
        url('../fonts/SuisseIntl-Bold.ttf') format('truetype'),
        url('../fonts/SuisseIntl-Bold.svg#SuisseIntl-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl-MediumItalic';
    src: url('../fonts/SuisseIntl-MediumItalic.eot');
    src: url('../fonts/SuisseIntl-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntl-MediumItalic.woff2') format('woff2'),
        url('../fonts/SuisseIntl-MediumItalic.woff') format('woff'),
        url('../fonts/SuisseIntl-MediumItalic.ttf') format('truetype'),
        url('../fonts/SuisseIntl-MediumItalic.svg#SuisseIntl-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SuisseIntl-Book';
    src: url('../fonts/SuisseIntl-Book.eot');
    src: url('../fonts/SuisseIntl-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntl-Book.woff2') format('woff2'),
        url('../fonts/SuisseIntl-Book.woff') format('woff'),
        url('../fonts/SuisseIntl-Book.ttf') format('truetype'),
        url('../fonts/SuisseIntl-Book.svg#SuisseIntl-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Sans serif classes
%sans-serif {
}

a {
  color: $link-color;
  text-decoration: $link-hover-decoration;
  transition: all 0.10s ease-in-out;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

button {
  transition: all 0.10s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  white-space: normal;
}

h1,.h1, h2, .h2, h3,.h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0.5em auto;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.441em;
}

h2,
.h2 {
  font-size: 1.953em;
}

h3,
.h3 {
  font-size: 1.563em;
}

h4,
.h4 {
  font-size: 1.25em;
}

h5,
.h5 {
  font-size: 1em;
}

h6,
.h6 {
  font-size: 0.8em;
}
