/**
 * Typography
 */
@font-face {
    font-family: 'SuisseIntl';
    src: url('../fonts/SuisseIntl-Medium.eot');
    src: url('../fonts/SuisseIntl-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntl-Medium.woff2') format('woff2'),
        url('../fonts/SuisseIntl-Medium.woff') format('woff'),
        url('../fonts/SuisseIntl-Medium.ttf') format('truetype'),
        url('../fonts/SuisseIntl-Medium.svg#SuisseIntl-Medium') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl-MediumItalic';
    src: url('../fonts/SuisseIntl-MediumItalic.eot');
    src: url('../fonts/SuisseIntl-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntl-MediumItalic.woff2') format('woff2'),
        url('../fonts/SuisseIntl-MediumItalic.woff') format('woff'),
        url('../fonts/SuisseIntl-MediumItalic.ttf') format('truetype'),
        url('../fonts/SuisseIntl-MediumItalic.svg#SuisseIntl-MediumItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SuisseIntl';
    src: url('../fonts/SuisseIntl-Regular.eot');
    src: url('../fonts/SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntl-Regular.woff2') format('woff2'),
        url('../fonts/SuisseIntl-Regular.woff') format('woff'),
        url('../fonts/SuisseIntl-Regular.ttf') format('truetype'),
        url('../fonts/SuisseIntl-Regular.svg#SuisseIntl-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl';
    src: url('../fonts/SuisseIntl-Bold.eot');
    src: url('../fonts/SuisseIntl-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntl-Bold.woff2') format('woff2'),
        url('../fonts/SuisseIntl-Bold.woff') format('woff'),
        url('../fonts/SuisseIntl-Bold.ttf') format('truetype'),
        url('../fonts/SuisseIntl-Bold.svg#SuisseIntl-Bold') format('svg');
    font-weight: bolder;
    font-style: normal;
}

// Sans serif classes
%sans-serif {
}

a {
  color: $link-color;
  text-decoration: $link-decoration;
  transition: all 0.10s ease-in-out;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

h1,.h1, h2, .h2, h3,.h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: auto;
  line-height: 1;
}

h1, .h1,
h3, .h3,
h4, .h4,
h5, .h5,
.large {
  font-weight: $text-medium;
}

.hero,
h2,.h2 {
  font-weight: $text-bold;
}

h1,
.h1 {
  font-size: 1.5625rem;
  line-height: 33px;
  line-height: 2;
}

h2,
.h2 {
  font-size: 4.0625rem;
  line-height: 4;
}

h3,
.h3 {
  font-size: 2.8125rem;
  line-height: 58px;
  line-height: 3;
}

h4,
.h4 {
  font-size: 1.25em;
  line-height: 39px;
  line-height: 2.1875;
}

h5,
.h5 {
  font-size: 1.125rem;
  line-height: 18px;
  line-height: 1.25;
}

h6,
.h6 {
  font-size: 1rem;
  line-height: 16px;
  line-height: 1;
}

p, td, li, dd, address {
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.625;
}

small, .small {
  font-size: 0.875rem;
  line-height: 1.375;
}