/**
 * Typography
 */
@font-face {
    font-family: 'SuisseIntl';
    src: url('../fonts/SuisseIntl-Medium.eot');
    src: url('../fonts/SuisseIntl-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntl-Medium.woff2') format('woff2'),
        url('../fonts/SuisseIntl-Medium.woff') format('woff'),
        url('../fonts/SuisseIntl-Medium.ttf') format('truetype'),
        url('../fonts/SuisseIntl-Medium.svg#SuisseIntl-Medium') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl-MediumItalic';
    src: url('../fonts/SuisseIntl-MediumItalic.eot');
    src: url('../fonts/SuisseIntl-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntl-MediumItalic.woff2') format('woff2'),
        url('../fonts/SuisseIntl-MediumItalic.woff') format('woff'),
        url('../fonts/SuisseIntl-MediumItalic.ttf') format('truetype'),
        url('../fonts/SuisseIntl-MediumItalic.svg#SuisseIntl-MediumItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SuisseIntl';
    src: url('../fonts/SuisseIntl-Regular.eot');
    src: url('../fonts/SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntl-Regular.woff2') format('woff2'),
        url('../fonts/SuisseIntl-Regular.woff') format('woff'),
        url('../fonts/SuisseIntl-Regular.ttf') format('truetype'),
        url('../fonts/SuisseIntl-Regular.svg#SuisseIntl-Regular') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl';
    src: url('SuisseIntl-Bold.eot');
    src: url('../fonts/SuisseIntl-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntl-Bold.woff2') format('woff2'),
        url('../fonts/SuisseIntl-Bold.woff') format('woff'),
        url('../fonts/SuisseIntl-Bold.ttf') format('truetype'),
        url('../fonts/SuisseIntl-Bold.svg#SuisseIntl-Bold') format('svg');
    font-weight: 400;
    font-style: normal;
}

* {
  font-family: 'SuisseIntl';
}

a {
  text-decoration: $link-decoration;
  &:hover {
    text-decoration: $link-hover-decoration;
  }
}

h1,.h1, h2, .h2, h3,.h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: auto;
  line-height: 1;
}

h1, .h1,
h3, .h3,
h4, .h4,
.large {
  font-weight: $text-medium;
}

h2,.h2,
h5, .h5 {
  font-weight: $text-bold;
}

figure[class^='align-'] figcaption,
.wp-caption-text,
.hero {
  font-size: 14vw;
  font-weight: $text-bold;
  letter-spacing: -0.1px;
  line-height: 1.125;
  @include screen-sm-up {
    font-size: 5.3125rem;
  }
}

h1,
.h1 {
  font-size: 1.5625rem;
}

h2,
.h2 {
  font-size: 4.0625rem;
}

h3,
.h3 {
  font-size: 2.8125rem;
  line-height: 1.25;
}

h4,
.h4 {
  font-size: 1.875rem;
}

h5,
.h5 {
  font-size: 1.125rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p, td, li, dd, address {
  font-size: 1rem;
  line-height: 1.25;
}

small, .small {
  font-size: 0.875rem;
}

.superhead {
  margin-left: 0;
}