/**
 * Archive
 */
body.archive {
  .hero-banner {
    min-height: $banner-height;
  }
  &:not(.post-type-archive) {
    .hero-banner {
      figcaption {
        div:first-of-type {
          align-self: flex-end;
        }
      }
    }
  }
}