/**
 * Single
 */
body.single {
  &.single-post,
  &.single-team {
    .content {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
  }

  &.single-career,
  &.single-team {
    .content {
      background-color: $white;
    }
  }

  &.single-career {
     > header {
      background-color: $black;
    }
    .content {
      h2, h3, p {
        margin-bottom: 2.5rem;
      }

      h4 {
        margin-bottom: 1.25rem;
        color: $danger-color;
        font-size: 1.25rem;
        a {
          color: inherit;
          text-decoration: underline;
        }
      }

      p {
        &.text-medium,
        &.text-bold {
          margin-bottom: 1rem;
        }
        &.h1 {
          margin-bottom: 1.5rem;
        }
      }
    }

    main, section.content {
      padding-top: 0;
    }

    main, section.content:not(:last-of-type) {
      padding-bottom: 0;
    }

    #hero-career {
      padding-top: 20rem;
      padding-bottom: 0;
      color: $text-color;
      .container {
        position: relative;
        overflow: visible;
        &:before {
          content: '';
          position: absolute;
          width: 262px;
          height: 220px;
          background: transparent url(../img/icons-triangles.svg) center no-repeat;
          background-size: contain;
          margin-top: -220px;
          margin-left: calc(50% - 131px);
          @include screen-lg-up {
            margin-top: -140px;
            margin-left: -177px;
          }
        }
      }
      @include screen-sm {
        padding-top: 13rem;
      }
    }
  }

  &.single-team {
    .content {
      figure {
        margin-top: 1rem;
        min-height: 320px;
      }
      *[class^="col-"] {
        padding-left: 3rem;
        padding-right: 3rem;
      }
    }
  }

  &.single-project {
    @include screen-lg-up {
      article.content:first-of-type {
        padding-bottom: calc(15vh + 10rem);
        + .band > .container:first-of-type {
          margin-top: -16rem;
        }
      }
      .band {
        margin-bottom: 8rem;
        h3 {
          font-size: 5.3125rem;
        }
        h5 {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }
        p {
          max-width: 580px;
          margin-bottom: 3rem;
          line-height: 1.5;
        }
        figure[class^=align-] img {
          opacity: 1;
        }
      }
    }
  }

  &.single-post {
    .hero-banner {
      p {
        display: none;
      }
    }
    .content {
      min-height: 100vh;
      time {
        width: 100%;
        margin-bottom: 1.5rem;
      }
    }
  }

  &.single-service {
    .hero-banner {
      .triangle_icon {
        position: absolute;
        top: 0;
      }
      @include screen-sm {
        .triangle_icon {
          right: 50%;
          left: 50%;
          transform: scale(1.5);
        }
      }
      @include screen-md-up {
        .triangle_icon {
          right: 3rem;
        }
        .order {
          margin-top: 3rem;
          margin-right: 6rem;
        }
      }
    }
  }
}