/**
 * Single
 */
body.single {
  &.single-post {
    .hero-banner {
      max-height: $banner-height;
    }
    figure[class^=align-],
    .wp-caption {
      display: flex;
      align-items: center;
      figcaption {
        white-space: normal;
        font-size: rem-calc(16);
        position: relative;
        line-height: 1.625;
        font-weight: $text-normal;
        left: initial;
        bottom: initial;
        top: initial;
        margin-left: $row-gutter;
      }
    }
  }
  &.single-post,
  &.single-team {
    .content {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
  }

  &.single-career,
  &.single-team {
    .content {
      background-color: $white;
    }
  }

  &.single-team {
    .content {
      figure {
        margin-top: 1rem;
        min-height: 320px;
      }
      *[class^="col-"] {
        padding-left: 3rem;
        padding-right: 3rem;
      }
    }
  }

  &.single-post {
    .hero-banner {
      p {
        display: none;
      }
    }
    .content {
      min-height: 100vh;
      time {
        width: 100%;
        margin-bottom: 1.5rem;
      }
    }
  }
}