/**
 * Single
 */
body.single {
  &.single-post,
  &.single-team {
    .content {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
  }

  &.single-career,
  &.single-team {
    .content {
      background-color: $white;
    }
  }

  &.single-team {
    .content {
      figure {
        margin-top: 1rem;
        min-height: 320px;
      }
      *[class^="col-"] {
        padding-left: 3rem;
        padding-right: 3rem;
      }
    }
  }

  &.single-post {
    .hero-banner {
      p {
        display: none;
      }
    }
    .content {
      min-height: 100vh;
      time {
        width: 100%;
        margin-bottom: 1.5rem;
      }
    }
  }

  &.single-service {
    .hero-banner {
      .triangle_icon {
        position: absolute;
        top: 0;
      }
      @include screen-sm {
        .triangle_icon {
          right: 50%;
          left: 50%;
          transform: scale(1.5);
        }
      }
      @include screen-md-up {
        .triangle_icon {
          right: 3rem;
          transform: scale(1.25);
        }
        .order {
          margin-top: 3rem;
          margin-right: 6rem;
        }
      }
    }
  }
}