/**
 * Home
 */
body.home {
  .projects--header {
    margin-top: 180px;
    @include screen-lg-up {
      margin-left: 140px !important;
    }
  }
  .band:last-of-type {
    padding-bottom: 0;
  }
  main > article.content {
    .col:first-of-type {
      margin-bottom: rem-calc(50);
    }
    h4 {
      margin-bottom: rem-calc(35);
      line-height: 1.3125;
    }
    @include screen-lg-up {
      p:last-of-type {
        margin-bottom: rem-calc(50);
      }
    }
  }
  .content {
    .band {
      h3, .h3, h4, .h4, h5, .h5 {
        font-weight: $text-medium;
      }

      h4 a {
        display: block;
        margin-top: 10rem;
      }

      h5 {
        margin-bottom: 2rem;
        font-size: 1.5rem;
        line-height: 1.25;
      }
      ul {
        list-style: none;
        margin-bottom: 3rem;
      }
      li {
        color: $steel;
        p {
          color: inherit;
          margin-bottom: 1.5rem !important;
        }
      }
    }
  }
  @include screen-lg-up {
    .content {
      figure.wp-caption,
      figure[class^=align-] {
        margin-bottom: auto;
      }
    }
    *[class*="col-"] p:last-child {
      margin-bottom: auto;
    }
  }
}