/**
 * Home
 */
body.home {
  .projects--header {
    margin-top: 180px;
    @include screen-lg-up {
      margin-left: 140px !important;
    }
  }
  @include screen-lg-up {
    .hero-banner {
      min-height: 100vh;
    }
  }
}