/**
 * Form Template
 */
body.page-template-template-form {
  &.admin-bar {
    main {
      padding-top: calc(4rem + 24px);
    }
  }
  main {
    //padding-top: 4rem; Dev note: is this value changing!??!
    padding-top: 6rem;
    aside {
      margin-top: 7.25rem;
      @include screen-lg {
        order: 2;
        + div {
          order: 1;
        }
      }
    }
    dt, dd {
      margin-bottom: 1.5rem;
    }
    @include screen-lg {
      .gfield[class*="col-"]{
        width: 100%
      }
    }
    .gform_wrapper {
      button,
      .button,
      input[type="button"],
      input[type="submit"] {
        min-width: 255px;
        margin-left: 0;
      }
    }
  }
}