.headline {
  margin-top: 8.75rem;
  margin-bottom: 2.5rem;
}

@include screen-lg-up {
  .offset .hero {
    margin-left: 33.3334%;
    margin-right: 0;
    max-width: 66.6667%;
  }

  .right, .left {
    .hero {
      max-width: none;
    }
  }

  .right .hero {
    margin-left: auto;
    margin-right: 0;
  }

  .left .hero {
    margin-right: auto;
    margin-left: 0;
  }
}