/**
 * Gravity Forms
 */

/**
 * General
 */

.gform_wrapper,
.gform_confirmation_wrapper {
  position: relative;
  max-width: $container-sm;
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
  .screen-reader-text {
    display: none;
  }

  @include screen-lg-up {
    .gform_confirmation_message {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .gform_confirmation_message {
    font-size: 1.25rem;
    font-weight: $text-medium;
    color: $success-color;
  }
}

.gform_fields {
  @extend %clearfix;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gfield {
  margin-bottom: 0.9375rem;
}


/**
 * Validation
 */

.gfield_error {
  input,
  textarea {
    border-color: $danger-color;
  }
}

.validation_error {
  color: $danger-color;
  background-color: $danger-background;
  border: 1px solid $danger-border;
  padding: 0.625rem;
  margin: 0.9375rem 0;
}

.validation_message {
  font-size: 0.875rem;
  color: $danger-color;
}

// Honeypot
.gform_validation_container {
  display: none;
}
