/**
 * Gravity Forms
 */

/**
 * General
 */

.gform_wrapper,
.gform_confirmation_wrapper {
  position: relative;
  width: 100%;
  max-width: $container-sm;
  margin-left: auto;
  margin-right: auto;

  @include screen-sm {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  main.has_locations & {

    @include screen-lg-up {
    @include container-fixed;
      body.page-template-template-form & {
        width: 50%;
        display: flex;
      }
      .gform_confirmation_message {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

  main.fullwidth & {
    max-width: $container-md;
    .gform_fields {
      position: relative;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-left: -1rem;
      margin-right: -1rem;
      .gfield:not(.gsection) {
        padding-top: 0;
        padding-bottom: 0;
        @include screen-md {
          width: 100%;
        }
        @include screen-lg-up {
          padding-right: 1rem;
          padding-left: 1rem;
          width: 50%;
        }
      }

      textarea,
      .gsection {
        width: 100%;
      }
    }
  }

  .gform_title {
    font-size: 3.5rem;
    @include screen-lg-up {
      font-size: 5.3125rem;
    }
    font-weight: $text-bold;
  }

  .screen-reader-text {
    display: none;
  }

  .gform_confirmation_message {
    font-size: 1.25rem;
    font-weight: $text-medium;
    color: $success-color;
  }

  input[type="submit"] {
    margin-top: 3rem;
  }
  .gform_heading {
    .gform_title {
      line-height: 1;
    }
    
    @include screen-lg-up {
      .gform_title,
      .gform_description {
        width: 50%;
      }
      display: flex;
    }
    align-items: flex-start;
    margin-bottom: 2rem;
    * {
      display: block;
      align-self: flex-start;
    }
    .gform_description {
      margin-top: 1.5rem;
      line-height: 1.5;
    }
  }
  .gsection_title {
    font-size: 1.125rem;
  }
}

.gform_fields {
  @extend %clearfix;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gfield {
  margin-bottom: 0.9375rem;
}


/**
 * Validation
 */

.gfield_error {
  input,
  textarea {
    border-color: $danger-color;
  }
}

.validation_error {
  color: $danger-color;
  background-color: $danger-background;
  border: 1px solid $danger-border;
  padding: 0.625rem;
  margin: 0.9375rem 0;
}

.validation_message {
  font-size: 0.875rem;
  color: $danger-color;
}

// Honeypot
.gform_validation_container {
  display: none;
}
