/**
 * Media
 *
 */
.row .flex-start img:not(.align-top) + figcaption {
  bottom: initial;
  top: 2.5rem;
}

figure img.dark {
  opacity: 0.7;
}

figure img.invert + figcaption {
  color: $white;
}

figure[class^='align-'],
.wp-caption {
  position: relative;
  margin-top: auto;
  @include screen-sm {
    margin-bottom: 2rem;
  }
  @include screen-md-only {
    margin-bottom: 3.125rem;
  }
  @include screen-lg-up {
    margin-bottom: 6.25rem;
  }
  img {
    margin: auto;
  }
  &.align-left img {
    margin-left: 0;
  }
  figcaption {
    position: absolute;
    bottom: 2.5rem;
    left: 3.25rem;
    z-index: 1;
    font-weight: $text-medium;
    @include screen-lg-up {
      white-space: nowrap;
    }
    @include screen-sm {
      bottom: 0.5rem;
      left: 1.25rem;
    }
  }
}