/**
 * Media object
 * http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 */
.row .flex-start figcaption {
  bottom: initial;
  top: 2.5rem;
}

figure img.dark {
  opacity: 0.7;
}

figure[class^='align-'],
.wp-caption {
  position: relative;
  margin-top: auto;
  figcaption {
    position: absolute;
    bottom: 2.5rem;
    left: 3.25rem;
    z-index: 1;
    font-weight: $text-medium;
  }
}

.media {
  display: flex;
  align-items: flex-start;
}

.media__figure {
  margin-right: 50px;

  &:empty {
    margin-right: 0;
  }
}

.media__bd {
  flex: 1 1 0%;
}

