/**
 * Modal styles
 */
.modal {
//  need some styles in ehre now that it works!
  width: 90vw;
  max-width: 960px;
  margin: auto;
  padding: 3rem 2rem;
  background-color: $white;
  background-image: url($terrain-bg--grey);
  .container {
    width: 100%;
  }
  dd,
  dt {
    margin-bottom: 1rem;
  }
}