/**
 * Modal styles
 */
.modal {
  position: relative;
  width: 90vw;
  max-width: 1000px;
  margin: auto;
  background-color: $white;
  background-image: url($terrain-bg);
  background-size: 250% auto;
  background-position: right bottom;
  @include screen-md {
    .mfp-close {
      opacity: 1;
      color: $white;
      text-shadow: 0 0 #{rem-calc(4)} rgba($black, 0.3);
    }
  }
  @include screen-lg-up {
    padding: rem-calc(64);
    .post__header__title,
    dl {
      margin-left: rem-calc(32);
    }
    .row figure[class*=col-],
    figure {
      margin-top: rem-calc(10);
      margin-bottom: rem-calc(32);
    }
    .mfp-close {
      color: $black;
    }
  }
  &:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($white, 0.6);
  }
  figure {
    margin-top: auto;
  }
  .post__header__title,
  dl {
    color: $black;
    * {
      color: inherit;
    }
  }
  dt {
    margin-bottom: 0.875rem;
    font-weight: $text-medium;
  }
  dd {
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.125;
    &:first-of-type {
      line-height: 1.25;
      font-weight: $text-medium;
    }
  }

  .row figure[class*=col-],
  figure {
    align-self: stretch;
    min-height: 240px;
  }

  .container {
    width: 100%;
  }

  .mfp-close {
    width: rem-calc(32);
    height: rem-calc(32);
    top: rem-calc(24);
    right: rem-calc(24);
    font-size: rem-calc(64);
    line-height: rem-calc(32);
  }
}