/**
 * social list Styles
 * ----------------------------------------------------------------------------
 *
 * List of linked social icons. Icons are created within the svg system
 *
 */

.social-list {
  list-style: none;
}

.social-list__item {
  display: inline-block;
  vertical-align: middle;
  margin: auto 0;
  font-size: inherit;
  &:first-child {
    margin-left: -0.75rem;
  }
}

.social-list__link {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  color: $white;
  border: none;
  text-align: center;

  &:hover {
    color: $white;
  }
}

.social-list__link .icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
}
