/**
 * Post
 * Used on single post pages
 */
$thumb-padding-big: 4.5rem;
$thumb-padding: 1.5rem;

article.thumbnail {
  padding: $thumb-padding-big $thumb-padding $thumb-padding;
}

.thumbnail {
  position: relative;
  width: 100%;
  display: table;
  padding: $thumb-padding;
  background-color: $white;

  [data-background] {
    height: 50vh;
    min-height: 440px;
    max-height: 520px;
    padding: 0;
    background-color: #1f1f1f;
  }

  @include screen-sm-only {
    width: 50%;
  }

  @include screen-md-up {
    width: 33.3333%;
  }

  @include screen-sm-up {
    [data-background] {
      height: 25vw;
    }
  }

  @include screen-lg-up {
    [data-background] {
      box-shadow: 0 0 95px rgba($black, 0.6) inset;
      &:hover {
        box-shadow: 0 0 0 inset;
        background-size: 125%;
      }
    }
  }

  a {
    color: inherit;
    transition: none;
  }

  h3, h4, .h3, .h1, .h2, {
    margin-bottom: 2.375rem;
  }

  p, time, .block {
    margin-bottom: 0.625rem;
  }

  figcaption {
    .h1, .h2, .h3, .h4 {
      margin-top: 1.5rem;
      margin-bottom: 0.75rem;
    }
    a {
      text-decoration: underline;
    }
  }

  hr {
    width: 100%;
    max-width: none;
    margin-top: $thumb-padding;
  }

  .feature {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }

  &.member-thumbnail:hover {
    cursor: initial;
  }

  &:not([data-background]):not(.member-thumbnail):hover {
    color: $white;
    background-color: $black;
  }

}