/**
 * Post
 * Used on single post pages
 */
$thumb-padding-top: 4.5rem;
$thumb-padding-right: 1.5rem;
$thumb-padding-bottom: 1.5rem;
$thumb-padding-left: 1.5rem;
$thumb-padding: $thumb-padding-top $thumb-padding-right $thumb-padding-bottom $thumb-padding-left;

.thumbnail {
  position: relative;
  width: 100%;
  display: table;
  padding: $thumb-padding;
  background-color: $white;
  &[data-background] {
    height: 25vw;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    box-shadow: 0 0 95px inset;
  }
  @include screen-sm-only {
    width: 50%;
  }
  @include screen-md-up {
    width: 33.3333%;
  }
  a {
    color: inherit;
    transition: none;
  }

  h3, h4, .h3, .h1, .h2, {
    margin-bottom: 2.375rem;
  }

  p, time, .block {
    margin-bottom: 0.625rem;
  }

  figcaption {
    position: absolute;
    top: 25vw;
    .h1, .h2, .h3, .h4 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  hr {
    margin-top: $thumb-padding-bottom;
  }

  .feature {
    display: none;
  }
  
  &:hover {
    cursor: pointer;
  }

  &:not[data-background]:hover {
    color: $white;
    background-color: $black;
  }
}