/**
 * Content
 */
.content {
  @include row-gutter;
  color: $text-color;
  &.dark {
    h1, h2, h3, h4, h5, h6, p, li, label, div {
      color: $white;
    }
    background-image: url(#{$terrain-bg});
  }
  body & {
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
  }

  body.archive & {
    padding-top: $row-gutter;
    padding-bottom: $row-gutter;
  }

  body.single-project &,
  body.single-team &,
  body.single-service & {
    background-image: url(#{$terrain-bg--red});
  }

  body.page-about & {
    background-image: url(#{$terrain-bg});
  }

  h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    display: block;
  }

  h3 {
    max-width: 700px;
    margin-left: 0;
  }

  figure:not(.thumbnail) {
    /*Dev Note: causing a LOT of ruckus
    margin-top: 3rem;
    margin-bottom: 1.5rem;*/
    @include screen-sm {
      &.align-none {
        width: 100%;
        img {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  ul, ol {
    li {
      margin-bottom: 0.625rem;
    }
  }
  p {
    line-height: 1.5;
  }
}
