/**
 * Content
 */
.content {
  &.dark {
    * {
      color: $white;
    }
    background-color: $black;
    background-image: url(#{$page-header-alt-bg});
  }
  min-height: 50vh;
  @include row-gutter;
  color: $text-color;
  background: $white url(#{$page-header-bg}) center no-repeat;
  h3 {
    max-width: 700px;
    margin-left: 0;
  }
  p {
    line-height: 1.5;
  }
}
