/**
 * Content
 */
.content {
  @include row-gutter;
  color: $text-color;
  &.dark {
    h1, h2, h3, h4, h5, h6, p, li, label, div {
      color: $white;
    }
    @include screen-xl-up {
      background-image: url(#{$terrain-bg});
    }
    @include screen-xl {
      background-image: url(#{$terrain-bg-lg});
    }
  }
  body & {
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
  }

  body.archive & {
    padding-top: $row-gutter;
    padding-bottom: $row-gutter;
  }

  body.single-project &,
  body.single-team &,
  body.single-service & {
    @include screen-xl-up {
      background-image: url(#{$terrain-bg--red});
    }
    @include screen-xl {
      background-image: url(#{$terrain-bg-lg--red});
    }
  }

  body.page-about & {
    @include screen-xl-up {
      background-image: url(#{$terrain-bg--grey});
    }
    @include screen-xl {
      background-image: url(#{$terrain-bg-lg--grey});
    }
  }

  h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    display: block;
  }

  h3 {
    margin-left: 0;
  }

  @include screen-md {
    h3 {
      margin-bottom: rem-calc(15);
    }
  }

  figure:not(.thumbnail) {
    @include screen-sm {
      &.align-none {
        width: 100%;
        img {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  ul, ol {
    li {
      margin-bottom: rem-calc(10);
    }
  }
}
