/**
 * Footer styles
 */
body > footer {
  @include row-gutter;
  padding-bottom: 2rem !important;
  @include screen-md {
    a.logo {
      margin-bottom: $row-gutter;
    }
    .footer__social {
      margin-bottom: $row-gutter;
      text-align: center;
    }
    .footer__copyright,
    .footer__credits {
      margin-bottom: rem-calc(12.5);
    }
    h5, .h5 {
      margin-top: $row-gutter;
    }
  }
  @include screen-md-only {
    .footer__social {
      padding-bottom: $row-gutter;
    }
  }
  @include screen-md-up {
    .footer__social {
      h5, .h5 {
        margin-top: $row-gutter;
      }
    }
  }

  .footer__navigation {
    @include screen-sm {
      margin-left: auto;
      margin-right: auto;
    }
    h5, .h5, h6, .h6 {
      margin-top: rem-calc(12.5);
      margin-bottom: rem-calc(25);
    }
    ul {
      margin-top: 0;
    }
    h5, .h5, h6, .h6,
    nav {
      width: 100%;
    }

    .footer__menu {
      padding-right: rem-calc(25);
      padding-left: rem-calc(25);
      @include screen-md {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
      @include screen-lg {
        width: 33.3334%;
        &:first-of-type {
          padding-left: 0;
        }
        &:last-of-type {
          padding-right: 0;
        }
      }
      @include screen-lg-up {
        padding-right: rem-calc(50);
        padding-left: rem-calc(50);
      }
      a {
        display: inline-block;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
      }
    }
  }

  .footer__bottom {
    margin-top: rem-calc(75);
    margin-bottom: auto;
    text-align: center;
    &.row {
      align-items: center;
      justify-content: space-between;
    }

    @include screen-lg-up {
      .footer__social,
      .footer__copyright {
        text-align: left;
      }
      .footer__ll-logo {
        text-align: right;
      }
    }

    @include screen-sm {
      .footer__copyright {
        width: 100%;
        text-align: center;
      }
    }
  }

  .footer__credits,
  .footer__copyright,
  .footer__ll-logo,
  .footer__navigation,
  .footer__social {
    flex: 0 0 auto;
  }

}