/**
 * Footer styles
 */
body > footer {

  .footer__bottom {
    text-align: center;
    &.row {
      align-items: center;
      justify-content: space-between;
    }

    @include screen-md-up {
      .footer__copyright {
        text-align: left;
      }
      .footer__ll-logo {
        text-align: right;
      }
    }
  }

  .footer__credits,
  .footer__copyright,
  .footer__ll-logo,
  .footer__social {
    flex: 0 0 auto;
  }

}