/**
 *
 * Grid styles
 *
 *
 */

.container {
  position: relative;
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }

  &.boxed {
    max-width: $container-sm;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  &.nowrap{
    flex-wrap: nowrap;
  }
  &.centered {
    justify-content: center;
  }
  [class*="col-"] {
    flex: 0 0 auto;
    max-width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &.flex-end {
      align-self: flex-end;
    }
    &.flex-start {
      align-self: flex-start;
    }

    @include screen-lg-up {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  div:first-of-type.center[class*="col-lg-3"],
  div:first-of-type.center[class*="col-lg-2"],
  div:first-of-type.center[class*="col-lg-1"],
  div:last-of-type.center[class*="col-lg-3"],
  div:last-of-type.center[class*="col-lg-2"],
  div:last-of-type.center[class*="col-lg-1"] {
    display: flex;
    align-self: flex-end;
  }
}

.col-full {
  width: 100%;
  max-width: 100%;
}

@for $i from 2 through 12 {

  @for $j from 1 through ($i - 1) {

    .col-#{$j}of#{$i} {
      width: 100% / $i * $j;
      max-width: 100% / $i * $j;
    }


    @include screen-xl-up {
      .col-xl-#{$j}of#{$i} {
        width: 100% / $i * $j;
        max-width: 100% / $i * $j;
      }
    }

    @include screen-lg-only {
      .col-lg-#{$j}of#{$i} {
        width: 100% / $i * $j;
        max-width: 100% / $i * $j;
      }
    }

    @include screen-md-only {
      .col-md-#{$j}of#{$i} {
        width: 100% / $i * $j;
        max-width: 100% / $i * $j;
      }
    }

    @include screen-sm-only {
      .col-sm-#{$j}of#{$i} {
        width: 100% / $i * $j;
        max-width: 100% / $i * $j;
      }
    }

    @include screen-xs-only {
      .col-xs-#{$j}of#{$i} {
        width: 100% / $i * $j;
        max-width: 100% / $i * $j;
      }
    }

    @include screen-xxs-only {
      .col-xxs-#{$j}of#{$i} {
        width: 100% / $i * $j;
        max-width: 100% / $i * $j;
      }
    }
  }
}

@for $o from 1 through 12 {
  .col-offset-1of#{$o} {
    margin-left: calc(100% / #{$o});
  }
}
