/**
 *
 * Grid styles
 *
 *
 */

.container {
  position: relative;
  body > * > & {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
  @include container-fixed;
}

.row {
  @include flexible;
  &.boxed {
    max-width: 760px;
  }
  &.stretch {
    align-items: stretch;
  }
  &.nowrap{
    flex-wrap: nowrap;
  }
  &.centered {
    justify-content: center;
  }
  [class*="col-"] {
    align-self: auto;
    &.flex-end {
      align-self: flex-end;
    }
    &.flex-start {
      align-self: flex-start;
    }
    &.center {
      align-self: center;
    }
    &:not([class*="xxs-"]):not([class*="xs-"]):not([class*="sm-"]):not([class*="md-"]):not([class*="lg-"]):not([class*="xl-"]) {
      flex: 0 1 auto;
    }
  }
}

.col {
  width: 100%;
  max-width: 100%;
}

@for $i from 2 through 12 {

  @for $j from 1 through ($i - 1) {
    $col_width: 100% / $i * $j;
    $col_flex: #{1 / $i * $j} 1 auto;

    .col-#{$j}of#{$i} {
      width: $col_width;
      flex: $col_flex;
    }

    @include screen-xs {
      .col-xs-#{$j}of#{$i} {
        width: $col_width;
        flex: $col_flex;
      }
    }

    @include screen-sm-only {
      .col-sm-#{$j}of#{$i} {
        width: $col_width;
        flex: $col_flex;
      }
    }

    @include screen-md-only {
      .col-md-#{$j}of#{$i} {
        width: $col_width;
        flex: $col_flex;
      }
    }

    @include screen-lg-only {
      .col-lg-#{$j}of#{$i} {
        width: $col_width;
        flex: $col_flex;
      }
    }

    @include screen-xl-up {
      .col-xl-#{$j}of#{$i} {
        width: $col_width;
        flex: $col_flex;
      }
    }
  }
}

@for $o from 1 through 12 {
  .col-offset-1of#{$o} {
    margin-left: calc(100% / #{$o});
  }
}
