/**
 * Header (only DIRECTLY beneath the body tag) styles
 */
$logo_width: rem-calc(167);//The sized and scaled height
$logo_height: rem-calc(96);//The sized and scaled height
$admin_bar: 2.875rem;
$admin_bar_lg: rem-calc(32);

// Top nav
body {
  &.locked {
    height: 100vh;
    overflow: hidden;
    .navbar-toggle__inner,
    .navbar-toggle__inner::before,
    .navbar-toggle__inner::after {
      background-color: $white;
    }
  }
  &.admin-bar > header {
    top: $admin_bar;
    @include screen-md-up {
      top: $admin_bar_lg;
    }
  }
  &:not(.locked) > header.navbar--dark * {
    color: $black;
    path {
      fill:$black;
      stroke: $black;
    }
  }

  > header {
    position: fixed;
    top: 0;
    right:0;
    left: 0;
    z-index: 25;
    min-height: 5.75rem;
    &:not(.navbar--dark) * {
      color: $white;
    }
    &.top,
    &.transparent {
      background: rgba(0,0,0,0.6);
    }

    a {
      display: inline-block;
      &.logo {
        width: $logo_width;
        height: $logo_height;
        img,
        svg {
          position: absolute;
          width: auto;
        }
        img {
          clip: rect(0, $logo_width, $logo_height, 0);
          height: $logo_height;
        }
        svg {
          top: 1.3125rem;
          left: 0;
          transform: scale(0.8) translate(-12px, -16px);
          height: 5rem;
        }
      }
      @include screen-lg-up {
        &:hover {
          color: $link-hover-color;
        }
      }
    }

    dd, dt, h5, .h5, .menu {
      margin-top: 0;
      margin-bottom: 1.5rem;
    }

    nav {
      dd, nav {
        margin-bottom: 3rem;
      }

      h5 {
        @include screen-sm {
          font-size: 1.25rem;
        }
        font-size: 1.5rem;
        font-weight: $text-medium;
      }
      ul {
        padding: 0;
        margin: 0 auto;
        list-style: none;
        @include screen-sm {
          &.header__menu {
            width: 100%;
          }
        }
        @include screen-md {
          li > img {
            margin-left: -35px;
            margin-right: 17px;
          }
        }
        @include screen-md-up {
          li > img {
            margin-left: -75px;
            margin-right: 57px;
          }
        }
      }
      &#secondary-nav {
        li {
          font-size: 1.25rem;
          a {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
          }
        }
      }
      .row [class*="col-"] [class*="col-"] {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    .container.row {
      justify-content: space-between;
      align-content: stretch;
      align-items: stretch;

      figure {
        z-index: 10;
      }

      h1, .h1, h2, .h2, h3, .h3, h4, .h4, p {
        margin-left: 0;
      }
    }
  }
}

#primary-nav {
  margin-right: 3rem;
  .menu-item a {
    position: relative;
    padding: 2.25rem 2rem;
    @include screen-sm {
      font-size: 0.875rem;
    }
    @include screen-lg-up {
      &:after {
        position: absolute;
        top: calc( 50% + 0.625rem );
        right: 2rem;
        left: 2rem;
        width: 0;
        height: 1px;
        content: '';
        background-color: $white;
      }
      &:hover {
        color: $white;
        &:after {
          width: calc(100% - 4rem);
        }
      }
    }
  }
  @include screen-sm {
    display: none;
  }
}

#secondary-nav {
  position: fixed;
  top: $logo_height;
  right: 0;
  left: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  min-height: 0;
  height: 0;
  width: 100vw;
  overflow: hidden;
  background-color: $black;
  @include screen-sm {
    align-items: flex-start;
    padding-left: rem-calc(25);
    padding-right: rem-calc(25);
  }
  &.active {
    min-height: calc(100vh - #{$logo_height} );
    overflow: scroll;
    &:after {
      position: absolute;
      top: 0;
      content: '';
      height: 50px;
      box-shadow: 0 50px 50px $black inset;
    }
    .header__menu {
      opacity: 1;
    }
  }
  body.admin-bar & {
    top: $logo_height;
    &.active {
      min-height: calc(100vh - #{$logo_height} );
    }
  }

  @include screen-md {
    top: $logo_height;
    &.active {
      min-height: calc(100vh - #{$logo_height} );
    }
  }

  @include screen-sm {
    .header__menu:first-of-type {
     > li {
        width: 50%;
        margin-left: 0;
        float: left;
      }
    }
  }

  &:visible + #primary-nav {
    display: none;
  }

  .header__menu {
    opacity: 0;
  }
}

.dropdown-menu {

  @include screen-nav-mobile {
    position: relative;
    overflow: hidden;
  }
}

// navbar-toggle
// ==================================================
.navbar-toggle {
  right: 0;
  padding: rem-calc(16);
  display: inline-block;
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  border-color: $white;

  .icon-bar {
    background-color: $white;
  }

  @include screen-sm {
    display: block;
  }
  @include screen-md {
    top: 0.5rem;
  }
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  // Normalize (<button>)
  font: inherit;
  color: inherit;
  text-transform: none;
  outline: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index:25;

  &:hover {
  }

  &.open {
    .navbar-toggle__inner {
      transform: rotate(90deg);
      background-color: transparent;

      transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1),
      background-color 0s 0.22s linear;

      &::before {
        top: 0;
        transform: rotate(-45deg);
        transition: top 0.1s 0.12s ease-out,
        transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      &::after {
        bottom: 0;
        transform: rotate(45deg);
        transition: bottom 0.1s 0.12s ease-out,
        transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }

}

.navbar-toggle__box {
  width: 30px;
  height: 22px;
  display: inline-block;
  position: relative;
  .navbar--dark & *,
  .navbar--dark & *:before,
  .navbar--dark & *:after {
    background-color: $black;
  }
}
.navbar {
  .navbar-toggle {
    .menu-txt,
    .close-txt {
      padding-top: 0.3125rem;
      font-size: 0.75rem;
    }
    &.open .menu-txt,
    .close-txt {
      display: none;
    }
    &.open .close-txt {
      display: block;
    }
  }
}

.navbar-toggle__inner {
  display: block;
  top: 50%;
  margin-top: 2px / -2;
  transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
              background-color 0s 0.1s linear;

  &,
  &::before,
  &::after {
    width: inherit;
    height: 2px;
    background-color: $white;
    position: absolute;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: (4px + 2px) * -1;
    transition: top 0.1s 0.1s ease-in,
    transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &::after {
    bottom: (4px + 2px) * -1;
    transition: bottom 0.1s 0.1s ease-in,
    transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}
