/**
 * Single
 */
body.single {
  &.single-post {
    .content {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
  }
  .hero-banner {
    p {
      display: none;
    }
  }
  .content {
    min-height: 100vh;
    time {
      margin-bottom: 1.5rem;
    }
  }
}