/**
 * Hero Banner Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.hero-banner {
  position: relative;
  display: flex;
  align-items: center;
  overflow:hidden;
  padding: #{rem-calc(75)} 0;
  background-color: $black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /*
  @include screen-lg-up {
    background-attachment: fixed;
  }*/
  color: $white;

  #hero-spotlight{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1
  }

  .loop-video-container {
    z-index: 0
  }


  & > svg {
    position: absolute;
    width: 100%;
    bottom: -1px;
    left: 0;
    width: 100%;
    min-width: 100vw;
    z-index: 1;
  }

  & > .container {
    position: relative;
    align-self: stretch;
    z-index: 1;
  }

  .button {
    position: relative;
    z-index: 1;
  }

  .play-video-button {
    position:absolute;
    z-index: 1;
    bottom: 0;
    display: inline-flex;
    margin: auto;
    padding: 2rem;
    color: white;
    background-color: black;
    left: 0;
    right: 0;
    max-width: 400px;
    span {
      align-self:center;
      margin-right: 3rem;
      margin-left: 5rem;
      font-size: 1.5rem;
    }
    &:hover #inner-triangle {
      transform: scale(1.5) rotate(-90deg) translate(-18px, -2px);
    }
  }

  figcaption {
    div:first-of-type {
      align-self: center;
      text-align: right;
      img {
        margin-left: auto;
        margin-right: auto;
        @include screen-lg {
          height: rem-calc(75);
        }
        @include screen-lg-up {
          margin-right: 0;
        }
      }
    }
    div:last-of-type{
      align-self: flex-end;
      text-align: left;
      img {
        margin-left: 0;
        margin-right: auto;
      }
    }

    dl,
    .triangle_icon-big {
      width: 20rem;
      margin: auto;
      text-align: left;
    }

    dt, dd {
      margin-bottom: 0.5rem;
    }

    .triangle_icon-big {
      margin-bottom: 2rem;
      polygon {
        transform: scale(2);
      }
    }

    @include screen-md {
      div, div:first-of-type, div:last-of-type {
        width: 100%;
        text-align: center;
      }
    }
  }
}