body > aside {
  min-height: 280px;
  padding-bottom: $row-gutter;
  padding-top: $row-gutter;
  background: $white url(#{$terrain-bg--rainbow}) center no-repeat;
  background-size: cover;
  * {
    color: $black;
    align-self: center;
  }
  .hero {
    margin-left: 0;
  }

  nav {
    text-align: center;
  }
  @include screen-sm {
    button, .button {
      margin-left: 0;
    }
  }
  @include screen-lg-up {
    min-height: 515px;
    .hero, nav {
      width: 50%;
    }
  }
}
