body > aside {
  min-height: 50vh;
  @include row-gutter;
  background: $white url(#{$callout-bg}) center no-repeat;
  background-size: cover;
  * {
    color: $black;
    align-self: center;
  }
  .hero {
    margin-left: 0;
  }

  nav {
    text-align: center;
  }
  
  @include screen-lg-up {
    .hero, nav {
      width: 50%;
    }
  }
}
