.band {
  background-repeat: no-repeat;
  background-position: top center;
  @include screen-md-up {
    .col-lg-1of12,
    .col-lg-2of12,
    .col-lg-3of12 {
      h2, h3 {
        margin-left: 25%;
        white-space: nowrap;
        transform: rotate(-90deg);
        transform-origin: left;
      }
    }
  }

  img.offset {
    margin-top: -16.875rem;
  }

  p:first-child {
    margin-top: auto;
  }
  figure {
    + h5 {
      margin-top: 3rem;
    }
  }
}

body.page-about .band{
  min-height: 30rem;
  &:first-of-type {
    padding-top: 10rem;
  }
  padding-top: 6rem;
}