.band {
  background-repeat: no-repeat;
  background-position: top center;
  &.no_bg {
    background: transparent;
  }

  @include screen-md {
    &.stretch {
      min-height: 600px;
    }
  }
  @include screen-md-up {
     &.padded-top {
      padding-top: 16.875rem;
    }
     &.padded-bottom {
      padding-bottom: 8.4375rem;
    }
    &:first-of-type {
      padding-top: 10rem;
    }
    .container {
      min-height: inherit;
    }
  }

  @include screen-md-up {
    .col-lg-1of12,
    .col-lg-2of12,
    .col-lg-3of12 {
      h2, h3 {
        margin-left: 25%;
        white-space: nowrap;
        transform: rotate(-90deg);
        transform-origin: left;
      }
      &:last-child {
        h2, h3 {
          transform: rotate(90deg) translateX(-80%);
        }
      }
    }
  }

  @include screen-lg-up {
    h4, .h4, h5.hero, ul {
      margin-bottom: 3.125rem;
    }
    h4, .h4 {
      line-height: 1.25;
    }
    h6, .h6 {
      margin-bottom: 1.625rem;
    }
    img.offset {
      margin-top: -16.875rem;
    }
    li {
      &:not(:last-child){
        margin-bottom: 0.5rem;
      }
    }
    p {
      line-height: 1.625;
    }
  }

  h2, h3, h4, h5, h6, p {
    a {
      text-decoration: underline;
    }
  }

  .h2 {
    font-weight: $text-medium;
  }

  h5.hero {
    font-weight: $text-normal;
  }

  p:first-child {
    margin-top: auto;
  }

  nav {
    margin: auto;
  }

  figure {
    + h5 {
      margin-top: 3rem;
    }
  }
}